.board-select {
  position: absolute;

  right: 21px;
  bottom: 61px;

  .board-option {
    // reset <button> default css
    border: none;
    outline: none;

    display: block;
    width: 100%;

    background-color: rgba(#263238, .85);
    color: white;

    padding: 1rem 2rem;

    cursor: pointer;

    text-transform: uppercase;
    text-align: left;
    font-weight: 800;

    transition: background-color ease .2s;

    &:hover {
      background-color: rgba(#263238, .9);
    }

    &:active {
      background-color: rgba(#263238, .95);
    }
  }
}
