@import 'style/colors.variables.scss';

.button {
  // reset button default css
  background-color: transparent;
  color: white;

  border: none;
  outline: none;

  font-size: 1.2rem;

  // set specific width because icons have different sizes
  width: 1.5rem;

  margin: 0 .75rem;

  &.button--active {
    color: $blue;
  }

  &.button--disabled {
    color: #36474f;
  }

  &:not(.button--disabled) {
    cursor: pointer;
  }
}
