.container {
  // render all controls on the same line and center them vertically
  display: flex;
  align-items: center;

  // relative positioning as anchor to .board-select
  position: relative;

  width: 100%;
  // set specific height to prevent scrollbars from showing
  height: 50px;

  padding: .5rem 1rem;

  background-color: #1e272c;
  color: white;

  .actions--left {
    // inflate the div so the .actions--right sticks to the right
    flex: 1;

    display: flex;
  }

  .actions--right {
    display: flex;
  }
}

.generations-container {
  margin-left: .75rem;

  color: #b2ccd6;

  font-size: .8rem;

  .generations__value {
    font-weight: 800;
  }
}
