.slider-container {
  // set a width otherwise the slider has a 0px width
  width: 200px;

  display: flex;
  align-items: center;

  margin-right: 1rem;

  .slider__icon {
    padding: 0 1rem;

    font-size: 1rem;
  }
}
