@import 'fonts/Lato/style.css';

*,
*:after,
*:before {
  // reset default browser gutters
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body,
#app {
  // give app full size of the screen as context.
  height: 100vh;
  width: 100vw;

  font-family: 'Lato', Arial, sans;
}
