@font-face {
    font-family: 'Lato';
    src: url('./Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./Lato-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
