.layout {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
